.forms-container{
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 250px;
  border: 1px solid;
  border-radius: 5px;
}

.form{
  display: flex;
  flex-direction: column;
}

.form input{
  width: 250px;
  height: 25px;
  margin: 5px 0;
}
.form .button {
  width: 200px;
  height: 45px;
  margin: 0 auto;

}