.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 75px;
  background-color: darkred;
}
.header a{
  text-decoration: none;
  color: white;
}

.user-onboarding a{
  margin: 7px;
  color: white;
  text-decoration: none;
}